#app {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(41, 9, 121, 1) 35%,
    rgba(149, 7, 156, 1) 73%,
    rgba(255, 0, 233, 1) 100%
  );
  height: 100vh;
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
}
body {
  padding: 0px;
  margin: 0px;
}
body,
html {
  height: 100vh;
}
.float-right {
  float: right;
}

h1 {
  font-size: 4em;
  font-weight: normal;
}
.view {
  top: 50px;
  right: 0;
  left: 0;
  margin: 40px 80px 40px 80px;
  position: absolute;
  z-index: 5;
}
.view.filled-container {
  background-color: white;
  padding: 5px 40px;
  border-radius: 15px;
  color: black;
  margin-bottom: 50px;
}
.blog-post {
  position: absolute;
  z-index: 5;
  margin-bottom: 50px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 15px;
  color: black;
}
.hello-bulletin-outer {
  text-align: center;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 15px;
  backdrop-filter: blur(2px);
}
.hello-bulletin-inner {
  display: table-cell;
  vertical-align: middle;
  width: 450px;
}
